$def with(number, waitlist, status, user)

$var active: message
$var cssfiles: knight.css
$var jsfiles: knight.js wait.js
$var status: $status

<div class="container">

	<div>
		<h1>最近十个有新回复的请求</h1>
		<hr class="colorgraph">
	</div>

	$if (waitlist == []):
		<h1>暂无</h1>
		
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
		$for each in waitlist:
			$if (each.status == 0):
				$ color = "panel-warning"
				$ status = "等待处理"
			$elif ((each.status == 1) or (each.status == 3)):
				$ color = "panel-info"
				$ status = "正在处理"
			$elif (each.status == 2):
				$ color = "panel-success"
				$ status = "处理完成"

			<div class="panel $:color" id="$each.id">
				<div class="panel-heading">
					<h3 class="panel-title">
						<a target="_blank" href="http://browse.renren.com/s/all?from=opensearch&q=$:each.name 南京大学">$:each.name</a>
					$if (each.replytime == 0):
						<small>今天有新回复</small>
					$else:
						<small>$:each.replytime天前回复</small>
					</h3>
				</div>
				<div class="panel-body">
					<p>
						<strong>当前状态: </strong>$status
					</p>
					<p>
						<strong>提交时间: </strong>$each.updatedon
					</p>
					<p>
						<strong>手机号码: </strong><a href="tel:$:each.phone">$:each.phone</a>
					</p>
					<form class="form" action="http://bbs.nju.edu.cn/bbsfind" method="post">
						<input type=hidden name=flag value=1>
						<input type=hidden name=user value="$:each.bbsid">
						<input type=hidden name=title>
						<input type=hidden name=title2>
						<input type=hidden name=title3>
						<input type=hidden name=day value=0>
						<input type=hidden name=day2 value=999>
						<p>
							<strong>百合帐号: </strong><span class="subform">$:each.bbsid</span>
						</p>
					</form>
					<p>
						<strong>电脑型号: </strong><a target="_blank" href="http://www.baidu.com/s?word=$:each.model+拆机图">$:each.model</a>
					</p>
					<p>
						<strong>操作系统: </strong>$:each.os
					</p>
					<p>
						<strong>问题描述: </strong>$:each.desc
					</p>

					$if not (each.filelist == []):
						<div style="margin: 0px 0px 10px;">
							<strong>上传文件: </strong>
							$for eachfile in each.filelist:
								$if ((eachfile.ext == '.JPG') or (eachfile.ext == '.JPEG') or (eachfile.ext == '.BMP') or (eachfile.ext == '.GIF') or (eachfile.ext == '.PNG')):
									<!-- Button trigger modal -->
									<button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal$loop.index" style="color: #428BCA;">
										$eachfile.ext文件$loop.index
									</button>

									<!-- Modal -->
									<div class="modal fade" id="myModal$loop.index" tabindex="-1" role="dialog" aria-labelledby="myModalLabel$loop.index" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
													<h4 class="modal-title" id="myModalLabel$loop.index">$eachfile.ext文件$loop.index</h4>
												</div>
												<div class="modal-body">
													<a target="_blank" href="$webDiskUrl/$eachfile.name" class="btn btn-default btn-sm" role="button"><img style="height: auto; width: 100%;" src="$webDiskUrl/$eachfile.name"></a>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
												</div>
											</div>
										</div>
									</div>
								$else:
									<a target="_blank" href="$webDiskUrl/$eachfile.name" class="btn btn-default btn-sm" role="button" style="color: #428BCA;">$eachfile.ext文件$loop.index</a>
						</div>
						
					<button type="button" class="btn btn-default replybtn">展开回复信息($len(each.reply))</button>

					<div class="reply">
						$for eachreply in each.reply:
							$if (eachreply.replybool == 0):
								$ style = "callout callout-left"
							$else:
								$ style = "callout callout-right"
								
							<div class="row replyrow" replyid="$eachreply.index">
								<div class="$style">
									<h4>
										$if (user == eachreply.name):
											<small><span class="glyphicon glyphicon-remove" style="color:#CC0033;display:none;"></span></small>
										$:eachreply.name<small>$eachreply.time</small>
									</h4>
									<p>$:eachreply.content</p>
								</div>
							</div>

						<br />
						<textarea class="form-control content" name="content" rows="3"
							placeholder="点击回复..."></textarea>
						<input type="text" class="order" name="order" value="$each.id" style="display: none">
						<br />
						<button class="subbtn btn btn-block btn-primary">回复</button>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>