$def with(number, waitlist, status, user)

$var active: wait
$var cssfiles: knight.css
$var jsfiles: knight.js wait.js
$var status: $status

<div class="container">

	<div>
		<h1>等待处理</h1>
		<hr class="colorgraph">
	</div>

	<div class="row">
		<div class="col-md-3">
			<div class="list-group">
				<a href="/knight/wait"
					class="list-group-item list-group-item-warning"><span
					class="badge">{{number.0}}</span>等待处理</a> <a href="/knight/work"
					class="list-group-item"><span
					class="badge">{{number.0}}</span>正在处理</a> <a href="/knight/finish"
					class="list-group-item"><span
					class="badge">{{number.0}}</span>处理完成</a>
			</div>
		</div>

		<div class="col-md-6">
		{%for each in waitlist%}
			<div class="panel panel-warning" id="$each.id">
				<div class="panel-heading">
					<h3 class="panel-title">
						<a target="_blank" href="http://browse.renren.com/s/all?from=opensearch&q=$:each.name 南京大学">{{each.name}}</a>
					</h3>
				</div>
				<div class="panel-body">
					<p>
						<strong>提交时间: </strong>{{each.updatedon}}
					</p>
					<p>
						<strong>手机号码: </strong><a href="tel:$:each.phone">{{each.phone}}</a>
					</p>
					<form class="form" action="http://bbs.nju.edu.cn/bbsfind" method="post">
						<input type=hidden name=flag value=1>
						<input type=hidden name=user value="$:each.bbsid">
						<input type=hidden name=title>
						<input type=hidden name=title2>
						<input type=hidden name=title3>
						<input type=hidden name=day value=0>
						<input type=hidden name=day2 value=999>
						<p>
							<strong>百合帐号: </strong><span class="subform">$:each.bbsid</span>
						</p>
					</form>
					<p>
						<strong>电脑型号: </strong><a target="_blank" href="http://www.baidu.com/s?word=$:each.model+拆机图">$:each.model</a>
					</p>
					<p>
						<strong>操作系统: </strong>$:each.os
					</p>
					<p>
						<strong>问题描述: </strong>$:each.desc
					</p>
						{%if each.filelist%}
						<div style="margin: 0px 0px 10px;">
							<strong>上传文件: </strong>
							{%for eachfile in each.filelist %}
								{%if (eachfile.ext == '.JPG') or (eachfile.ext == '.JPEG') or (eachfile.ext == '.BMP') or (eachfile.ext == '.GIF') or (eachfile.ext == '.PNG')%}
									<!-- Button trigger modal -->
									<button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal$loop.index" style="color: #428BCA;">
										{{eachfile.ext}}文件{{forloop.counter0}}
									</button>

									<!-- Modal -->
									<div class="modal fade" id="myModal{{forloop.counter0}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel{{forloop.counter0}}" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
													<h4 class="modal-title" id="myModalLabel{{forloop.counter0}}">{{eachfile.ext}}文件{{forloop.counter0}}</h4>
												</div>
												<div class="modal-body">
													<a target="_blank" href="{{webDiskUrl}}/{{eachfile.name}}" class="btn btn-default btn-sm" role="button"><img style="height: auto; width: 100%;" src="{{webDiskUrl}}/{{eachfile.name}}"></a>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
												</div>
											</div>
										</div>
									</div>
								{%else%}
									<a target="_blank" href="{{webDiskUrl}}/{{eachfile.name}}" class="btn btn-default btn-sm" role="button" style="color: #428BCA;">{{eachfile.ext}}文件{{forloop.counter0}}</a>
						</div>
						{%endif%}
					<button id="$each.id" type="button" class="btn btn-info workbtn">我来处理</button>
					<button type="button" class="btn btn-default replybtn">展开回复信息({{each.reply|length}})</button>

					<div class="reply">
						{%for eachreply in each.reply%}
							{%if (eachreply.replybool == 0)%} 
								{%set style = "callout callout-left"%}
							{%else%}
								{%set style = "callout callout-right"%}
							{%endid%}
							<div class="row replyrow" replyid="$eachreply.index">
								<div class="$style">
									<h4>
										{%if (user == eachreply.name)%}
											<small><span class="glyphicon glyphicon-remove" style="color:#CC0033;display:none;"></span></small>
										{%eachreply.name%} <small>{%eachreply.time%}</small>
									</h4>
									<p>{%eachreply.content%}</p>
								</div>
							</div>

						<br />
						<textarea class="form-control content" name="content" rows="3"
							placeholder="点击回复..."></textarea>
						<input type="text" class="order" name="order" value="$each.id" style="display: none">
						<br />
						<button class="subbtn btn btn-block btn-primary">回复</button>
					</div>
				</div>
			</div>
			{%endfor%}
		</div>
	</div>
</div>

<div class="modal fade" id="worksure">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-body">
        <p style="font-weight:bold">是否确认处理?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">否</button>
        <button type="button" class="btn btn-primary" id="workmakesure">是</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>