$def with(orderlist)

$var active: history
$var cssfiles: helper.css
$var jsfiles: history.js

<div class="container" style="background-color: #fff">
	<div>
		<h1>历史请求</h1>
		<hr class="colorgraph">
	</div>
$if (len(orderlist) == 0):
	<div class="alert alert-info alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<strong>暂无请求信息</strong>
	</div>
$else:
	$for each in orderlist:
	
		$if (each.status == 0):
			$ status = "等待处理"
			$ style = "warning"
		$elif (each.status == 1):
			$ status = "正在处理，请查看你的手机，IT侠已经联系你了"
			$ style = "info"
		$elif (each.status == 2):
			$ status = "处理完成"
			$ style = "success"
		$elif (each.status == 3):
			$ status = "正在处理，请查看你的手机，IT侠已经联系你了"
			$ style = "info"
		
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<div class="panel panel-$style">
					<div class="panel-heading">
						<h3 class="panel-title">
							$status
						</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-6">
								<p>
									<strong>提交时间: </strong>$each.updatedon
								</p>
							</div>
							<div class="col-sm-6">
								<p>
									<strong>手机号码: </strong>$:each.phone
								</p>
							</div>
							<div class="col-sm-6">
								<p>
									<strong>百合帐号: </strong>$:each.bbsid
								</p>
							</div>
							<div class="col-sm-6">
								<p>
									<strong>所在校区: </strong>$:each.location校区
								</p>
							</div>
							<div class="col-sm-6">
								<p>
									<strong>电脑型号: </strong>$:each.model
								</p>
							</div>
							<div class="col-sm-6">
								<p>
									<strong>操作系统: </strong>$:each.os
								</p>
							</div>
						</div>
						<p>
							<strong>问题描述: </strong>$:each.desc
						</p>
					</div>
				</div>
			</div>
		</div>
</div>