$def with(order, number, filelist=[])

$var active: now
$var cssfiles: helper.css
$var jsfiles: now.js

<div class="container" style="background-color: #fff">
	<div>
		<h1>请求状态
		<hr class="colorgraph">
	</div>
	
	$if (order.status == 0):
		$ status = "等待处理"
		$ style = "warning"
	$elif (order.status == 1):
		$ status = "正在处理，请查看你的手机，IT侠已经联系你了"
		$ style = "info"
	$elif (order.status == 2):
		$ status = "处理完成"
		$ style = "success"
	$elif (order.status == 3):
		$ status = "正在处理，请查看你的手机，IT侠已经联系你了"
		$ style = "info"
		
	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-$style">
				<div class="panel-heading">
					<h3 class="panel-title">
						$status
					</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-6">
							<p>
								<strong>提交时间: </strong>$order.updatedon
							</p>
						</div>
						<div class="col-sm-6">
							<p>
								<strong>手机号码: </strong>$:order.phone
							</p>
						</div>
						<div class="col-sm-6">
							<p>
								<strong>百合帐号: </strong>$:order.bbsid
							</p>
						</div>
						<div class="col-sm-6">
							<p>
								<strong>所在校区: </strong>$:order.location校区
							</p>
						</div>
						<div class="col-sm-6">
							<p>
								<strong>电脑型号: </strong>$:order.model
							</p>
						</div>
						<div class="col-sm-6">
							<p>
								<strong>操作系统: </strong>$:order.os
							</p>
						</div>
					</div>
					<p>
						<strong>问题描述: </strong>$:order.desc
					</p>
					$for each in filelist:
						$if (loop.index == 1):
							<strong>文件列表: </strong>
						$if ((each.ext == '.JPG') or (each.ext == '.JPEG') or (each.ext == '.BMP') or (each.ext == '.GIF') or (each.ext == '.PNG')):
							<!-- Button trigger modal -->
							<button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal$loop.index">
								$each.ext文件$loop.index
							</button>
		
							<!-- Modal -->
							<div class="modal fade" id="myModal$loop.index" tabindex="-1" role="dialog" aria-labelledby="myModalLabel$loop.index" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
											<h4 class="modal-title" id="myModalLabel$loop.index">$each.ext文件$loop.index</h4>
										</div>
										<div class="modal-body">
											<a target="_blank" href="$webDiskUrl/$each.name" class="btn btn-default btn-sm" role="button"><img style="height: auto; width: 100%;" src="$webDiskUrl/$each.name"></a>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
										</div>
									</div>
								</div>
							</div>
						$else:
							<a target="_blank" href="$webDiskUrl/$each.name" class="btn btn-default btn-sm" role="button">$each.ext文件$loop.index</a>
					
					<form class="fileform" role="form" method="post" style="padding-top:5px;" action="http://upload.qiniu.com" enctype="multipart/form-data">
						<div class="row" style="padding:5px 15px 5px 15px">
					    <input id="uploadfile" type="file" name="file" style="float:left;display:block;">
						<button class="filebtn btn btn-success btn-xs" order-id="$order.id" style="float:left;">点击上传</button>
						</div>
					    <p class="help-block">
					    	<span class="glyphicon glyphicon-question-sign"></span>
					    	如果问题难以描述，可以上传文件来帮助我们确认问题所在
					    </p>
					    <input type="hidden" name="token" value="$token">
					    <input type="hidden" name="key" id="formkey">
					</form>
					<div style="padding-top:7px; padding-bottom:7px;">
						<a href="/helper/modify" type="button" class="btn btn-warning">修改请求</a>
						<button id="$order.id" type="button" class="btn btn-danger delbtn">删除请求</button>
						<button type="button" class="btn btn-default replybtn">展开回复信息($len(order.reply))</button>
					</div>
					<div class="reply" style="display:none;">
						$for each in order.reply:
							$if (each.replybool == 0):
								$ style = "callout callout-left"
							$else:
								$ style = "callout callout-right"
								
							<div class="row">
								<div class="$style">
									<h4>
										$:each.name <small>$each.time</small>
									</h4>
									<p>$:each.content</p>
								</div>
							</div>
						<br />
						<form role="form" class="reply" action="/helper/reply" method="post">
							<textarea class="form-control content" name="content" rows="3"
								placeholder="点击回复..." required></textarea>
							<input type="text" name="order" value="$order.id" style="display: none">
							<br />
							<button type="submit" class="subbtn btn btn-block btn-primary">发送信息</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">
						IT侠的服务约定
					</h3>
				</div>
				<div class="panel-body">
					<ol>
						<li>
							我们是纯公益组织不收取任何费用、纯公益性质；
						</li>
						<li>
							服务对象仅限南大在校师生，以及为IT侠提供过捐助的爱心人士；
						</li>
						<li>
							IT侠的服务由NoteBook版负责监管，不与任何商业团体挂钩；
						</li>
						<li>
							视您的个人资料为绝密信息，保护隐私不外泄；
						</li>
						<li>
							依业界惯例，IT侠不对以下情形负责：
							<ul>
								<li>
									意外数据丢失；
								</li>
								<li>
									由于机器老化和用料低端，在拆装过程中可能发生的卡扣折断、螺母碎裂等情形；
								</li>
								<li>
									对处于不稳定边缘的、有潜在故障风险的机器（如显卡门机器），拆装之后发生无法开机的情形；
								</li>
								<li>
									以及其它非我们的操作过失造成的意外。
								</li>
							</ul>
						</li>
						<li>
							对于用户没有购买的软件，IT侠顶多帮助安装试用版； 
						</li>
						<li>
							本活动的最终解释权归<a href="http://bbs.nju.edu.cn/">NoteBook版</a>所有。
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>