$def with(message = None, username = None)

$var active: knight
$var cssfiles: login.css
$var jsfiles:

<div class="container content">
	<h1>登录</h1>
	<hr class="colorgraph">
	
	$if (message):
		<div class="alert alert-danger alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<strong>$message</strong>
		</div>

	$if (username):
		$ name = 'value="' + username + '"'
	$else:
		$ name = ''

	<form class="form-signin" role="form" action="/" method="post">
		<img alt="NJU IT侠" src="$config.static/images/logo.jpg" class="img-responsive center-block" />
		<input type="text" name="name" class="form-control" placeholder="账号" $:name required>
		<input type="password" name="password" class="form-control" placeholder="密码" required>
		<button class="btn btn-primary btn-block" type="submit">登录</button>
	</form>
</div>

<div class="container footer">
	<hr class="colorgraph">
	<p><small>Designed and built by <a href="/eggs" style="color:#333;cursor:default;text-decoration:none;">LC</a>. Powered by <a href="http://sae.sina.com.cn"><img src="$config.static/images/poweredby.gif"></a></p></small>
</div>
