<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>$:config.site_name</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link rel="stylesheet" href="$:basefile.bs_css">

<link rel="stylesheet" href="$config.static/style/user/login.css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	<script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
	<script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
</head>

<body>
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<!-- 下面的button是在页面过窄的时候将导航栏的按钮缩为一个，适合pad等小平板，手机上展示 -->
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">NJU-IT 侠预约系统</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
	<!-- 导航栏-end -->

	<div class="container" align="center">
		<img alt="500 Server Application Error" src="$config.static/images/500.jpg" />

		<div class="row">
			<div class="col-md-8 col-md-offset-2" align="center">
				<div class="alert alert-danger" role="alert">
					<strong>网站内部错误!</strong>十分抱歉，服务器内部发生逻辑错误<br>
					为了更好地建设网站，请您联系网站工作人员，描述您使用中的问题。<strong>QQ:504906985</strong>
				</div>
			</div>
			<div class="col-md-8 col-md-offset-2" align="center">
				<a href="/" class="btn btn-warning btn-block" role="button">返回主页</a>
			</div>
		</div>
	</div>

	<div class="container" style="text-align: center;">
		<hr class="colorgraph">
		<p><small>Designed and built by <a href="/eggs" style="color:#333;cursor:default;text-decoration:none;">LC</a>. Powered by <a href="http://sae.sina.com.cn"><img src="$config.static/images/poweredby.gif"></a> @version $version 问题反馈QQ:504906985</p></small>
	</div>
	
	<!-- Bootstrap core JavaScript -->
	<!-- ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="$:basefile.jq"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="$:basefile.bs_js"></script>
</body>
</html>